<p>
<% @links.each do |link| %>
<div class="text-center">
<div class="row">
	<div class="large-8 large-centered columns">
    <h5><%= link_to link.title, link.url %><blockquote><%= URI::Parser.new.parse(link.url).host %></blockquote></h5>
	<small class="details"><%= link.votes_for.size %> Likes | <%= link_to "Like", upvote_link_path(link)%> |</small>
		<small class="details">submitted by <%= link_to link.user.username, user_path(link.user) %>
		<%= time_ago_in_words link.created_at %> ago, <%= link_to "comments", new_link_comment_path(link) %> <%= link.comments.size %>
	</small>
</div>
</div>
</div>
</p>
<div class="large-10 large-centered columns"><hr/></div>
<% end %>
<div class="text-center">
<p><%= will_paginate @links, :page_links => false %></p>
</div>

