<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Clone News" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<%= render partial: "shared/top_bar" %>
  	<% if flash[:error] %><div data-alert class="alert-box secondary">
  <%= flash[:error] %>
  <a href="#" class="close">&times;</a>
  <% end %>
</div>

  	<%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>